@font-face {
	font-family: 'Y2K';
	src: url('../FONTS/Y2KREGULAR.ttf');
}

*::selection{
  background: rgba(#E84E3D, .7);
}

body{
	background: #024442;
	color: white;
	font-family: 'Montserrat', sans-serif;
	a{
		text-decoration: none;
		color: white;
		&:hover{
			text-decoration: underline .5px white;
			text-underline-offset: 2.5px;
		}
	}
	nav{
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
		margin: 0 auto;
		width: 96%;
		margin-top: 20px;
		.nav-left{
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			width: 40%;
			align-items: center;
			h1{
				font-size: 13px;
				font-weight: 100;
				letter-spacing: 2px;
				margin-top: -1.5px;
				cursor: pointer;
			}
			.row-days{
				display: flex;
				flex-flow: row wrap;
				gap: 50px;
				.columsa-days{
					display: flex;
					flex-flow: column wrap;
					font-size: 10.5px;
					font-weight: 300;
					gap: 3px;
				}
			}
		}
		.nav-right{
			width: 28%;
			align-items: center;
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			.sunday-always{
				display: flex;
				flex-flow: row wrap;
				gap: 50px;
				font-size: 10.5px;
				font-weight: 300;
			}
			.nav-lenguage{
				display: flex;
				flex-flow: row wrap;
				gap: 10px;
				font-size: 10.5px;
				font-weight: 300;
			}
		}
	}
}

body{
	header{
		width: 96%;
		margin: 0 auto;
		display: flex;
		flex-flow: row wrap;
		font-family: 'Y2K';
		h2{
			all: unset;
			font-size: 16.5vw;
			letter-spacing: 1.5px;
		}
		.closer-div{
			margin-top: -8vw;
		}
	}
}

main{
	display: flex;
	flex-flow: row wrap;
	width: 96%;
	margin: 0 auto;
	justify-content: space-between;
	.main-left{
		width: 36%;
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		gap: 35px;		
		.left-top{
			display: flex;
			flex-flow: row nowrap;
			font-size: 11px;
			font-weight: 300;
			line-height: 15px;
			div:nth-child(1){
				margin-right: 35px;
			}
		}
		.left-bottom{
			width: 100%;
			max-width: 700px;
			img{
				width: 100%;
			}
		}
	}
	.main-center{
		width: 20%;
		display: flex;
		flex-flow: column wrap;
		gap: 20px;
		.main-top{
			display: flex;
			flex-flow: row nowrap;
			font-size: 11px;
			font-weight: 300;
			line-height: 15px;
		}
		.main-center-1{
			display: flex;
			flex-flow: row wrapw;
			width: 100%;
			margin-top: -10px;
			margin-bottom: 40px;
			h4{
				font-size: 16px;
				font-weight: 500;
				line-height: 15px;
			}
		}
		.main-bottom{
			width: 100%;
			max-width: 400px;
			img{
				width: 100%;
			}
		}
	}
	.main-right{
		width: 30%;
		display: flex;
		flex-flow: column wrap;
		gap: 20px;
		.right-top{
			font-size: 17px;
			font-weight: 400;
			display: flex;
			place-content:center;
			svg{
				margin-right: -90px;
			}
		}
		.right-center{
			display: flex;
			flex-flow: row wrap;
			font-size: 11px;
			font-weight: 300;
			line-height: 15px;
			.uno, .dos{
				width: 50%;
			}
		}
		.right-bottom{
			width: 100%;
			max-width: 1700px;
			img{
				width: 100%;
			}
		}
	}
}

body{
	nav{
		.burger{
			display: none;
			visibility: hidden;
			opacity: 0;
			.burger-open, .burger-close{
				width: 100%;
				max-width: 35px;
				cursor: pointer;
				img{
					width: 100%;
				}
			}
			.burger-open{
				position: absolute;
				visibility: hidden;
				opacity: 0;
			}
		}
		.burger-open.open{
			visibility: visible;
			opacity: 1;
			transition: .3s;
			transform: scale(1.02);
			margin-left: -5px;
			margin-top: 40px;
		}
		.burger-close.open{
			visibility: hidden;
			opacity: 0;
		}
	}
	.overlay{
		width: 100%;
		height: 100%;
		display: none;
		text-align: center;
		gap: 45px;
		color: white;
		background: rgba(#024442, 1);
		position: absolute;	
		top: 0;
		overflow: hidden;
		div{
			display: flex;
			flex-flow: column wrap;
			gap: 10px;
		}
	}
	.overlay.open{
		display: flex;
		flex-flow: column wrap;
		place-content: center;
		overflow: hidden;
	}
}

nav.open{
	margin-top: 0;
}

header.open{
	display: none;
}

main.open{
	display: none;
}

@media (max-width: 1020px){
	body{
		nav{
			.burger{
				display: flex;
			flex-flow: row wrap;
			align-items: center;
			opacity: 1;
			visibility: visible;
			}
			.nav-left{
				.row-days{
					display: none;
				}
			}
			.nav-right{
				.sunday-always{
					display: none;
				}
			}
		}
	}
}

@media (max-width: 1192px){
	body{
		main{
			justify-content: space-between;
			.main-left, .main-center{
				width: 48%;
			}
			.main-left{
				.left-top{
					display: flex;
					flex-flow: column wrap;
					div{
						width: 100%;
						font-size: 14.5px;
						p{
							br{
								display: none;
							}
						}
					}
				}
			}
			.main-center{
				.main-top, .main-center-1{
					width: 85%;
					margin-bottom: 0px;
					font-size: 14.5px;
					h4{
						font-size: 16.5px;
					}
					br{
						display: none;
					}
				}
			}
			.main-bottom{
				width: 100%;
				max-width: 600px;
			}
		}
		.main-right{
			margin: 0 auto;
			width: 90%;
			margin-top: 50px;
			.right-center{
				flex-flow: column wrap;
				.uno, .dos{
					width: 100%;
					font-size: 14.5px;
					p{
						br{
							display: none;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 500px){
	body{
		main{
			gap: 30px;
			.main-left, .main-center{
				width: 92.5%;
				margin: 0 auto;
			}
			.main-bottom{
				width: 100%;
				max-width: 100px;
				img{
					width: 9%;
				}
			}
		}
	}
}

