@font-face {
  font-family: "Y2K";
  src: url("../FONTS/Y2KREGULAR.ttf");
}
*::-moz-selection {
  background: rgba(232, 78, 61, 0.7);
}
*::selection {
  background: rgba(232, 78, 61, 0.7);
}

body {
  background: #024442;
  color: white;
  font-family: "Montserrat", sans-serif;
}
body a {
  text-decoration: none;
  color: white;
}
body a:hover {
  -webkit-text-decoration: underline 0.5px white;
          text-decoration: underline 0.5px white;
  text-underline-offset: 2.5px;
}
body nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 96%;
  margin-top: 20px;
}
body nav .nav-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body nav .nav-left h1 {
  font-size: 13px;
  font-weight: 100;
  letter-spacing: 2px;
  margin-top: -1.5px;
  cursor: pointer;
}
body nav .nav-left .row-days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 50px;
}
body nav .nav-left .row-days .columsa-days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  font-size: 10.5px;
  font-weight: 300;
  gap: 3px;
}
body nav .nav-right {
  width: 28%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body nav .nav-right .sunday-always {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 50px;
  font-size: 10.5px;
  font-weight: 300;
}
body nav .nav-right .nav-lenguage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 10px;
  font-size: 10.5px;
  font-weight: 300;
}

body header {
  width: 96%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  font-family: "Y2K";
}
body header h2 {
  all: unset;
  font-size: 16.5vw;
  letter-spacing: 1.5px;
}
body header .closer-div {
  margin-top: -8vw;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 96%;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
main .main-left {
  width: 36%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 35px;
}
main .main-left .left-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  font-size: 11px;
  font-weight: 300;
  line-height: 15px;
}
main .main-left .left-top div:nth-child(1) {
  margin-right: 35px;
}
main .main-left .left-bottom {
  width: 100%;
  max-width: 700px;
}
main .main-left .left-bottom img {
  width: 100%;
}
main .main-center {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  gap: 20px;
}
main .main-center .main-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  font-size: 11px;
  font-weight: 300;
  line-height: 15px;
}
main .main-center .main-center-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrapw;
          flex-flow: row wrapw;
  width: 100%;
  margin-top: -10px;
  margin-bottom: 40px;
}
main .main-center .main-center-1 h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 15px;
}
main .main-center .main-bottom {
  width: 100%;
  max-width: 400px;
}
main .main-center .main-bottom img {
  width: 100%;
}
main .main-right {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  gap: 20px;
}
main .main-right .right-top {
  font-size: 17px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
}
main .main-right .right-top svg {
  margin-right: -90px;
}
main .main-right .right-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  font-size: 11px;
  font-weight: 300;
  line-height: 15px;
}
main .main-right .right-center .uno, main .main-right .right-center .dos {
  width: 50%;
}
main .main-right .right-bottom {
  width: 100%;
  max-width: 1700px;
}
main .main-right .right-bottom img {
  width: 100%;
}

body nav .burger {
  display: none;
  visibility: hidden;
  opacity: 0;
}
body nav .burger .burger-open, body nav .burger .burger-close {
  width: 100%;
  max-width: 35px;
  cursor: pointer;
}
body nav .burger .burger-open img, body nav .burger .burger-close img {
  width: 100%;
}
body nav .burger .burger-open {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}
body nav .burger-open.open {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  margin-left: -5px;
  margin-top: 40px;
}
body nav .burger-close.open {
  visibility: hidden;
  opacity: 0;
}
body .overlay {
  width: 100%;
  height: 100%;
  display: none;
  text-align: center;
  gap: 45px;
  color: white;
  background: #024442;
  position: absolute;
  top: 0;
  overflow: hidden;
}
body .overlay div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  gap: 10px;
}
body .overlay.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  place-content: center;
  overflow: hidden;
}

nav.open {
  margin-top: 0;
}

header.open {
  display: none;
}

main.open {
  display: none;
}

@media (max-width: 1020px) {
  body nav .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 1;
    visibility: visible;
  }
  body nav .nav-left .row-days {
    display: none;
  }
  body nav .nav-right .sunday-always {
    display: none;
  }
}
@media (max-width: 1192px) {
  body main {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body main .main-left, body main .main-center {
    width: 48%;
  }
  body main .main-left .left-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  body main .main-left .left-top div {
    width: 100%;
    font-size: 14.5px;
  }
  body main .main-left .left-top div p br {
    display: none;
  }
  body main .main-center .main-top, body main .main-center .main-center-1 {
    width: 85%;
    margin-bottom: 0px;
    font-size: 14.5px;
  }
  body main .main-center .main-top h4, body main .main-center .main-center-1 h4 {
    font-size: 16.5px;
  }
  body main .main-center .main-top br, body main .main-center .main-center-1 br {
    display: none;
  }
  body main .main-bottom {
    width: 100%;
    max-width: 600px;
  }
  body .main-right {
    margin: 0 auto;
    width: 90%;
    margin-top: 50px;
  }
  body .main-right .right-center {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  body .main-right .right-center .uno, body .main-right .right-center .dos {
    width: 100%;
    font-size: 14.5px;
  }
  body .main-right .right-center .uno p br, body .main-right .right-center .dos p br {
    display: none;
  }
}
@media (max-width: 500px) {
  body main {
    gap: 30px;
  }
  body main .main-left, body main .main-center {
    width: 92.5%;
    margin: 0 auto;
  }
  body main .main-bottom {
    width: 100%;
    max-width: 100px;
  }
  body main .main-bottom img {
    width: 9%;
  }
}